/*---------------------------------------------------------------INDEX-------------------------------------------------------------*/
header,footer{
    background-color:rgb(0, 0, 0);
    padding-bottom:40px;
    text-align: center;
}
img{
   width: 90px;
   margin-left: 200px;
   margin-right: 160px;
   margin-bottom: -35px;
   display: inline-block;
}
button,header>a{    
    width:140px;
    height: 60px;
    background-color:black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    margin-left: 50px;
    margin-bottom: 15px;
    border:1px white solid;
    text-decoration: none;
    padding: 20px;
  
   
}
a:hover,button:hover{
    background-color: white; color: rgba(110, 103, 5, 0.938); border-color: rgba(110, 103, 5, 0.938) ;
}
#activo{
    margin-left: 90px;
    background-color: white; color: rgba(110, 103, 5, 0.938); border-color: rgba(110, 103, 5, 0.938) ;

}
/*--------------------------------------------main------------------------------------------------*/
aside{
    width: 160px;
    height: 475px;
    float: right;
    background-color: azure;
    background-image: url(imagenes/gif2.gif);
    background-size: contain;
    background-repeat: no-repeat;
}
section{
    width: 1180px;
    height: 332px;
    padding-top: 140px; 
    margin-bottom: 30px;
    background-image: url(imagenes/fotoPortada.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color:rgba(209, 199, 52, 0.26);
    
}
article{
    width: 400px;
    height: 350px;
    background-color: rgba(209, 199, 52, 0.26);
    margin-right: 40px;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}
article[id]:hover{
    border:1px black solid;
    
}
h2,p{
    text-align: center;
}
p{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
}
/*--------------------------------------------footer------------------------------------------------*/
footer{
    padding: 5px;
    margin-top: 10px;
}
h3,h5{
    color: white;
}
div{
    width: 200px;
    height: 150px;
    background-color: black;
    margin-left: 100px;
    display: inline-block;
    text-align: center;
}
.icono{
    width: 30px;
    margin: 5px;
    margin-left: -5px;
    margin-top: -3px;
}

ul>li{
    color: white;
    text-align: left;
}
footer>:nth-last-child(2),footer>:nth-last-child(3){
    padding-bottom: 20px;
    padding-left: 10px;
}
div>a:hover{
    background-color: black;
}
/*------------------------------------------PRODUCTOS------------------------------------------------------*/
h2{
    background-color: rgba(110, 103, 5, 0.822);
}
#reloj1,#reloj2,#reloj3,#anillo1,#anillo2,#anillo3,#pulsera1,#pulsera2,#pulsera3,#collar1,#collar2,#collar3,#pendiente1,#pendiente2,#pendiente3{
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
#reloj1{
    background-image: url(imagenes/reloj1.PNG);
}
#reloj2{
    background-image: url(imagenes/reloj2.PNG);
}
#reloj3{
    background-image: url(imagenes/reloj3.PNG);
}
#anillo1{
    background-image: url(imagenes/anillo1.PNG);
}
#anillo2{
    background-image: url(imagenes/anillo2.PNG);
}
#anillo3{
    background-image: url(imagenes/anillo3.PNG);
}
#pulsera1{
    background-image: url(imagenes/pulsera1.PNG);
}
#pulsera2{
    background-image: url(imagenes/pulsera2.PNG);
}
#pulsera3{
    background-image: url(imagenes/pulsera3.PNG);
}
#collar1{
    background-image: url(imagenes/collar1.PNG);
}
#collar2{
    background-image: url(imagenes/collar2.PNG);
}
#collar3{
    background-image: url(imagenes/collar3.PNG);
}
#pendiente1{
    background-image: url(imagenes/pendiente1.PNG);
}
#pendiente2{
    background-image: url(imagenes/pendiente2.PNG);
}
#pendiente3{
    background-image: url(imagenes/pendiente3.PNG);
}
/*--------------------------------------------------------PRESUPUESTOS-----------------------------------------------------------------*/
form{
    width: 350px;
    margin: 20px;
    padding: 20px;
    background-color:rgba(158, 148, 7, 0.404);  
    margin-top: -100px;
}
#formulario{
    background-image: url(imagenes/R.jpg);
    background-size:cover;
    width: 1300px;
    height: 500px;
    margin-top: 20px;
}
form,input{
    font-size: 25px;
}
textarea{
    font-size: 16px;
}
button[type="submit"], button[type="submit"]:hover{
    border-radius: 80%;
    width: 60px;
    margin-left: 130px;
    background-color: transparent;
    border-color: transparent;
}
#enviar{
    width: 60px;
    margin: auto;
}
/*-----------------------------------------------------CONTACTO--------------------------------------------------------*/
#mapa{
    width: 1000px;
    margin: 10px;
}
#infoContacto{
    width: 280px;
    height: 580px;
    margin: 10px;
    background-color: rgba(10, 12, 12, 0.404);
    float: right;
    background-image: none;
    font-size: 18px;
}
span{
    font-weight: bold;
}